<div class="title">
  <h1>Puissance 4</h1>
  <div class="color-title-red"></div>
  <div class="color-title-yellow"></div>
</div>

<p>Les joueurs cliquent sur la grille chacun leur tour faire descendre un jeton de leur couleur au bas de la colonne cliquée. Le premier joueur à aligner 4 jetons sur une ligne, une colonne ou une diagonale remporte la partie.</p>

<div class="turn">
  <p>À ton tour :</p>
  <div class="color-turn"></div>
</div>

<div id="jeu">
</div>
